@reference "../../../index.css";

.grid {
    @apply grid gap-12 pt-12 px-15.5 mb-12;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.skeleton {
    @apply w-56.25 aspect-square bg-black/10 animate-pulse;
}

.error {
    @apply text-red-600 col-span-full;
}

.loadMore {
    @apply text-sm text-center mb-12;
    line-height: 21px;
    letter-spacing: 0.25px;
}
